body {
	font-family: sans-serif;
}
core-header-panel {
	background: white;
}
core-toolbar {
	background-color: #03A9F4;
}

p {
  margin: 20px;
  padding: 20px 20px;
  border-radius: 2px;
  background-color: #eee;
  line-height: 180%;
  font-family:Microsoft JhengHei;
  font-size : 1.5em;
  word-break: break-all;
 
}

p a {
  text-decoration: none;  
  color: gray;
}

p  img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-right: 5px;
}

 #cards {
	margin: 0 auto;
	background: #eee;
	overflow: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
}
 
.centerp {
	width : 100%;	
	margin-top : 5px;
	text-align : center;
} 
.centerchild {	
	margin-left: auto;
	margin-right: auto;
}
	
.clickable-div 
{
         cursor: pointer;
}
	
#paper-button {
  color: #4285f4;
}
#paper-button[raised] {
  background: #4285f4;
  color: #fff;
}

@media only screen and (min-width: 1024px) {
	p {
		  margin: 20px 20% 0px 20%;
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

@media only screen and (max-width: 767px) {
}
