<html>
<head>
<title>QRead list</title>
<link href="/views/list2.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="QueueReadContent">QRead</div>
	<input type='hidden' id="step" value=<%=step%>>
	<input type='hidden' id="book" value=<%=book%>>
	<script src="/socket.io/socket.io.js"></script>
    <script src="/views/list2.js"></script>
</body>
</html>