<html>
<head>
<title>QRead list</title>
<link href="list.css" rel="stylesheet">
</head>
<body>
	<div id="QueueReadContent">QRead</div>
	<script src="/socket.io/socket.io.js"></script>
    <script src="/views/list.js"></script>
</body>
</html>