body {
	background:black;
	overflow-y: hidden;
}

/* hr {   display: block !important; border: 0;  height: 1px;  background-color: #732D2D;   margin: 16px 0px 8px 0px;} */  


hr {   display: block !important; border: 0;  height: 1px;  background-color: #732D2D; }   

::-webkit-scrollbar { width: 6px; height: 6px; } 

::-webkit-scrollbar-thumb {background: #959595;  border-radius: 10px;	}

#QueueReadContent {
  /*box-sizing: content-box; */
  /* box-shadow: -2px -2px 20px rgba(50,50,50,.2),2px 0 20px rgba(50,50,50,.2); */
  /* zoom: reset; */
  /* max-height: 10px; */
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  /*overflow-y: hidden;*/  
  /*line-height: 26px;*/
  font-size: 17px;
  font-family: Helvetica Neue, Helvetica, Arial, Microsoft Jhenghei, sans-serif;
  /*cursor: pointer;*/
  color: white;
  /* opacity: 1; */
  padding: 7px;
  /* background: black; */
  /* min-height: 20px; */
  /* height: auto; */
  /* z-index: 9999999999; */
  text-align: left;
  /* width: 30%; */
  /* position: fixed; */
  bottom: 0px;
  /* right: 10px; */
  border-radius: 5px 5px 0px 0px;
  /*min-height: 99%;*/
  /*-webkit-column-count: 4;*/
  /*-webkit-column-gap: 40px;*/
  /*-webkit-column-width: 300px;*/
  word-wrap: break-word;
  margin-left: 8%;
  
}





body {
	/*overflow-y: hidden; 
	overflow-x: hidden; */
}

.BigTitle {
  font-size: larger;
  color: rgb(255, 220, 20);
}

img {
	/*max-height: 230px;   */
	object-fit: cover;
  }
  

  
@media only screen and (min-width:1366px) and (max-width: 3200px) {
	
	#QueueReadContent {	
		/*line-height: 18px;*/
		font-size: 17px;
		/*-webkit-column-count: 7;
		-webkit-column-gap: 0px;*/
		
	}	
	
	#QueueReadContent >span:first-child{
		 font-size: 17px;
	}
	
	#QueueReadContent >span {
		/*height: 128px;
		overflow-y: scroll;*/
		display: inline-block;
		padding: 4px 4px 4px 4px;
		width: 100%;
		/*min-height:50;*/
		max-width: 300;
		vertical-align: top;
		border: #FEFEFE;
		border-width: 2px;
		/*border-style: dashed;*/
	}
	
	#QueueReadContent >span:hover { 
	   background: #353434;
	}
	
    img {
		/*max-height: 80px;*/
		object-fit: cover;
	}
  
}  

@media only screen and (min-width:0px) and (max-width: 760px) {
  #QueueReadContent {	
	/*-webkit-column-count: 2;*/
	font-size: 20px;
    padding: 0px 17px 0px 17px;	
	/*line-height: 14px;*/
	/*-webkit-column-gap: 8px;*/
	
  }	
  
  #QueueReadContent >span:first-child{
		 font-size: 17px;
	}
	
	#QueueReadContent >span {
		width: 100%;
		display: inline-block;
		padding: 2px 4px 0px 4px;
		
	}
  
  .BigTitle {
	font-size: larger;
  /*color: rgb(255, 220, 20);*/
  }
  
  body  {
	margin:1px;
  }
  
  hr {
	margin-top:5px;
	margin-bottom:5px;
  }
  
  img {
	/*max-height: 150px; */  
	object-fit: cover;
  }
}


@media only screen and (min-width:760px) and (max-width: 1024px) {
  #QueueReadContent {	
	/*-webkit-column-count: 3;*/  
	font-size: 13px;	
	line-height: 18.5px;
	/*-webkit-column-gap: 8px;*/
	
  }	
  
  .BigTitle {
	font-size: larger;
  /*color: rgb(255, 220, 20);*/
  }
  
  body  {
	margin:1px;
  }
  
  hr {
	margin-top:5px;
	margin-bottom:5px;
  }
  
  img {
	/*max-height: 150px;   */
	object-fit: cover;
  }
}