<html>

<head>
<title>QRead All</title>
<link href="bundle.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, maximum-scale=0.85" />
</head>
<frameset rows="100%">
<frameset cols="20%,70%">
  <frame class="allstyle" src="http://104.155.234.188/?b=twitter&s=6&z=1&m=n">
  <frame class="allstyle" src="https://tw.yahoo.com/"> 
 </frameset>  
</frameset>
</html>